$color-linen: #eae2d6;
$color-oyster: #d5c3aa;
$color-tin: #867666;
$color-tea: #e1b80d;
$color-dark-tin: #423e3a;


@font-face {
    font-family: "Libre Baskerville", serif;
    src: url(./assets/LibreBaskerville-Regular.ttf)
  }

@media screen and (min-width: 1280px) {
    * {
        font-size: 10px;
    }
}
@media screen and (max-width: 1279px) {
    * {
        font-size: 8px;
    }
}

body {
    background-image: url(./assets/white-paper-texture.jpg);
    font-family: 'Libre Baskerville', serif;
    color: $color-dark-tin;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    .title {
        text-align: center;
        padding: 2%;
        font-weight: 700;
        font-size: 3.6rem;
    }

    textarea {
        margin: 0 auto;
        width: 99%;
        height: 15vh;
        font-size: 1.2rem;
        font-family:  'Libre Baskerville', serif;
        font-size: 2.5rem;
    }

    .keyboard {
        margin: 20px auto;
        width: 100%;
        max-width: 1500px;
        background-color: $color-tin;
        // height: 150px;
        bottom: 0;
        right: 0;
        display: inline-flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .key_button {
            cursor: pointer;
            border: 1px solid $color-linen;
            font-family: 'Libre Baskerville', serif;
            color: $color-dark-tin;
            margin: 0.7%;
            box-shadow: 2px 2px 5px $color-linen;
            width: 5%;
            height: 5vh;
            background-color: $color-oyster;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;

            &:hover {
                opacity: 0.6;
            }
        }

        .key_button_plus_half {
            width: 7.5%;
            // flex: 1.5;
            font-size: 1.6rem;
        }

        .key_button_wide {
            width: 10%;
            // flex: 2;
            font-size: 1.6rem;
        }

        .key_button_extra_wide {
            width: 45%;
            // flex: 7;
            font-size: 1.6rem;
        }

        .key_button_active {
            background-color: $color-tea; 
            opacity: 1;
        }
        
    }
    .footer {
        align-items: flex-end;
        text-align: end;
        font-size: 1.6rem;
        a {
            font-size: 1rem;
            outline: none;
            color: $color-dark-tin
        }
    }
}
